<div class="container">
  <div class="row justify-content-center">
  <h1 i18n>La grippe H1N1</h1>
  </div>

  <div class="row justify-content">
    <div class="col-12">
    <p i18n>
      La grippe H1N1 est une infection du système respiratoire qui occasionne
      symptômes similaires à ceux de la grippe saisonnière. Cette grippe est
      causée par diverses souche d'influenza A. Une fois transmis, le virus se
      propage de manière similaire a la grippe saisonnière. Le virus est
      considéré comme très contagieux, la période de contagion débute 24h avant
      l'arrivé des symptômes et se termine environ 7 jours après la déclaration
      de la maladie.
    </p>

      <h4 i18n>Symptômes:</h4>

      <ul>
        <li i18n>Courbature;</li>
        <li i18n>Frissons;</li>
        <li i18n>Toux;</li>
        <li i18n>Fatigue;</li>
        <li i18n>Fièvre;</li>
        <li i18n>Maux de tête;</li>
        <li i18n>Perte d'appétit;</li>
        <li i18n>Mal de gorge</li>
      </ul>

    </div>


  </div>

  <div class="row">
    <div class="col-8 justify-content-center">
      <iframe class="embed-responsive-item" i18n-srcdoc srcdoc= "<h4>Vidéo de présentation</h4>" i18n-src src="https://www.youtube.com/watch?v=Hbyy5lRbGZw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" i18n>
        Iframe non supporté par le navigateur</iframe>
    </div>
  </div>


</div>
