<div id="siteCarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#siteCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#siteCarousel" data-slide-to="1"></li>
    <li data-target="#siteCarousel" data-slide-to="2"></li>
    <li data-target="#siteCarousel" data-slide-to="3"></li>
  </ul>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="img-fluid mx-auto d-block" src="assets/images" i18n-alt alt="Maladie">
      <div class= "carousel-caption">
        <h5><a i18n-href href="/maladie" i18n>Maladie</a></h5>
      </div>
    </div>

    <div class="carousel-item">
      <img class="img-fluid mx-auto d-block" src="assets/images" i18n-alt alt="Vaccin">
      <div class= "carousel-caption">
        <h5><a i18n-href href="/vaccin" i18n>Vaccin</a></h5>
      </div>
    </div>

    <div class="carousel-item">
      <img class="img-fluid mx-auto d-block" src="assets/images" i18n-alt alt="Prevention">
      <div class="carousel-caption">
        <h5><a i18n-href href="/prevention" i18n>Prevention</a></h5>
      </div>
    </div>

    <div class="carousel-item">
      <img class="img-fluid mx-auto d-block" src="assets/images" i18n-alt alt="Test">
      <div class="carousel-caption">
        <h5><a i18n-href href="/test" i18n>Test</a></h5>
      </div>
    </div>

    <div class="carousel-item">
      <img class="img-fluid mx-auto d-block" src="assets/images" i18n-alt alt="OMS">
      <div class="carousel-caption">
        <h5><a i18n-href href="https:wwww.who.int/fr" i18n>Test</a></h5>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#siteCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#siteCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
