<ngb-carousel
  [showNavigationArrows]="true"
  [activeId]="'firstSlide'">
  <ng-template ngbSlide id="firstSlide">
    <div class="img-wrapper h-25">
      <img src="assets/images/cold.jpg" i18n-alt alt="Maladie">
    </div>
    <div class="carousel-caption">
      <h5><a routerLink="/maladie" i18n="Sante | Lien ">Maladie</a></h5>
    </div>
  </ng-template>

  <ng-template ngbSlide id="secondSlide">
    <div class="img-wrapper h-25">
      <img src="assets/images/vaccine.jpg" i18n-alt alt="Vaccin">
    </div>
    <div class="carousel-caption">
      <h5><a routerLink="/vaccin" i18n="Sante | Lien ">Vaccin</a></h5>
    </div>
  </ng-template>

  <ng-template ngbSlide id="thirdSlide">
    <div class="img-wrapper h-25">
      <img src="assets/images/prevention.jpg" i18n-alt alt="Prevention">
    </div>
    <div class="carousel-caption">
      <h5><a routerLink="/prevention" i18n="Sante | Lien ">Prevention</a></h5>
    </div>
  </ng-template>

  <ng-template ngbSlide id="fourthSlide">
    <div class="img-wrapper h-25">
      <img src="assets/images/test.jpg" i18n-alt alt="Test">
    </div>
    <div class="carousel-caption">
      <h5><a routerLink="/test" i18n="Sante | Lien ">Test</a></h5>
    </div>
  </ng-template>

  <ng-template ngbSlide id="fifthSlide">
    <div class="img-wrapper h-25">
      <img src="assets/images/OMS.jpg" i18n-alt alt="OMS">
    </div>
    <div class="carousel-caption">
      <h5><a i18n-href href="https://www.who.int/fr" target="_blank" i18n="Sante | Lien ">OMS</a></h5>
    </div>
  </ng-template>
</ngb-carousel>
