<div class ="container-fluid">
  <div class="row justify-content">
    <p i18n = "Methode de  prevention | Paragraphe">
      Pour les personnes atteintes, améliorez votre état et prévenez la
      propagation du virus en prenant les précautions suivantes : demeurez
      à la maison si vous avez contracté le virus, ne vous rendez pas au
      travail ni à l'école, gardez au moins 1 mètre de distance entre les
      autres personnes, reposez-vous et buvez beaucoup de liquide, couvrez-vous
      la bouche et le nez avec un papier-mouchoir lorsque vous toussez ou
      éternuez, jetez-le ensuite à la poubelle et lavez-vous les mains
      régulièrement avec du savon et de l'eau. Prenez soin de laver vos mains
      avec du savon pendant au moins 15 secondes. Utilisez un désinfectant pour
      les mains à base d'alcool si vous n'avez pas accès au savon ni à l'eau.
    </p>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <img class="prevention-img" src="assets/images/distance.png" i18n-alt alt="Distance">
    </div>
    <div class="col-4">
      <img class="prevention-img" src="assets/images/hands.png" i18n-alt alt="Lavage de main">
    </div>
    <div class="col-4">
      <img class="prevention-img" src="assets/images/cough.png" i18n-alt alt="Toux dans le coude">
    </div>

  </div>
</div>
